<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HL7-dotnetcore" version="2.26.0" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net471" />
</packages>